<h1>Edit Kitten</h1>

<%= form_with model: @kitten do |f| %>
  <%= render 'form', f: f%>
  <%= submit_tag "Finish Editing" %>
<% end %>
<%= button_to "Release Kitten", kitten_path(@kitten), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<%= button_to "Go Back", kittens_path, method: :get %>
